#container_header {
    display: grid;
    width: auto;
    height: 220px;
}

header {
    background-image: url(https://s2.glbimg.com/blr5IEYOD-7z8Q2eM4ytYyCaWfI=/0x0:689x120/690x120/s.glbimg.com/es/ge/f/original/2016/08/02/header_internacional_campeao_libertadores.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header h1 {
    margin-top: 75px;
    color: white;
    font-size: 60px;
} 

main {
    display: grid;
    width: auto;
    height: 580px;
    background-color: beige;
    margin-bottom: 30px;
}

#text-body {
    width: 50%;
}

main h2{
    padding-left: 400px;
}

main h6 {
    margin-top: 20px;
    justify-content: center;
}

main img {
    margin-left: 340px;
    margin-top: 40px;
}

main p {
    width: 1000px;
    margin-top: 40px;
    margin-left: 150px;
}

footer {
    background-color: aqua;
    width: auto;
    height: 400px;
    display: grid;
}